@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

@charset "UTF-8";
/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class, body button { font-family: "Lucida Grande", Lucida, Arial, sans-serif; background: url('images/button_bg.png?1285265535') repeat-x bottom left; margin: 0; width: auto; overflow: visible; display: inline-block; cursor: pointer; text-decoration: none; border-style: solid; font-weight: bold; }
.fancy-button-reset-base-class::-moz-focus-inner, body button::-moz-focus-inner { border: none; padding: 0; }
.fancy-button-reset-base-class:focus, body button:focus { outline: none; }

/* Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912 rgba-background mixin can now be passed an option $dir variable
*/
/* These are handy little mixins I often use to support common patterns with a simpler API */
@font-face { font-family: "Pictos"; src: url('/fonts/pictos-webfont.eot'); src: local("☺"), url('/fonts/pictos-webfont') format('woff'), url('/fonts/pictos-webfont.ttf') format('truetype'), url('/fonts/pictos-webfont.svg#webfontOwG6ztLR') format('svg'); }

.pictos-font, #planning form .set .action { font-family: "Pictos"; font-weight: normal; font-style: normal; }

.sans-font, body, h1, h2, h3, h4, h5, h6, input[type="text"] { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

.serif-font { font-family: Georgia, Times, "Times New Roman", serif; }

.fixed-font { font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace; }

strong { font-weight: bold; }

em { font-style: italic; }

body { font-size: 16px; line-height: 1.45em; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; padding-bottom: 0.4em; line-height: 1.2em; }

h6 { font-size: 1.1em; }

h5 { font-size: 1.3em; }

h4 { font-size: 1.6em; }

h3 { font-size: 2em; }

h2 { font-size: 2.4em; }

h1 { font-size: 3.2em; }

p, ul, ol { padding-bottom: 1.1em; }

.round-corners, .round-right-corners, .round-left-corners, .round-top-corners, .round-bottom-corners, body #page .wrap { -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.clear, body #page, body #page #main { *zoom: 1; }
.clear:after, body #page:after, body #page #main:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

.hide { display: none !important; }

.visible, #planning form .set:hover .action, #planning form .set.first .action.make_first { visibility: visible; }

.invisible, #planning form .set .action { visibility: hidden; }

.invert-pad { margin-left: -20px; margin-right: -20px; }

.page-pad { padding-left: 20px; padding-right: 20px; }

.page-width, body #header .wrap, body #footer { width: 980px; margin: 0 auto; }

body { min-width: 980px; }
body #header .wrap { padding: 20px 0; }
body #page #main #content .wrap { margin: 0 auto; width: 960px; padding: 20px; }
body #footer { padding: 20px 0; text-align: center; }

input[type="text"] { -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; font-size: 1em; padding: 0.2em 0.5em; border: 1px #d1d1d1 solid; background: url("/images/input-bg.png") left top no-repeat white; margin: 0; }

#planning form .set { width: 460px; display: inline-block; position: relative; margin: 0.3em; }
#planning form .set input[type="text"] { width: 345px; }
#planning form .set .action { display: inline-block; cursor: pointer; font-size: 18px; line-height: 1em; }
#planning form .set .remove { color: #891b1e; position: absolute; top: -8px; left: -10px; }
#planning form .set .make_first { color: #1d5091; }
#planning form .set .add { color: #4b891b; }
#planning form .set.first .action.make_first { color: #6b6215; font-weight: bold; }
#planning form .start { margin-bottom: 0.7em; }
#planning form .start input { font-size: 1.2em; }
#planning form .buttons { margin-top: 2em; }
#planning form .buttons .spinner { display: inline-block; background: url("/images/spinner.gif") left top no-repeat white; height: 32px; width: 32px; vertical-align: middle; margin-left: 1em; }

#google_map { width: 600px; height: 400px; }

body { background-color: #71b040; }
body #header { color: #efefef; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c1e0a9), color-stop(100%, #71b040)); background-image: -moz-linear-gradient(top, #c1e0a9 0%, #71b040 100%); background-image: linear-gradient(top, #c1e0a9 0%, #71b040 100%); background-color: #71b040; padding-bottom: 3px; }
body #header h1, body #header h2, body #header h3, body #header h4, body #header h5, body #header h6 { padding: 0; }
body #header .wrap { height: 60px; }
body #header .wrap h4 { line-height: 60px; }
body #page .wrap { background-color: white; -moz-box-shadow: #333333 1px 1px 5px 0; -webkit-box-shadow: #333333 1px 1px 5px 0; -o-box-shadow: #333333 1px 1px 5px 0; box-shadow: #333333 1px 1px 5px 0; }
body #footer { color: #333333; }
body #footer a { color: white; text-decoration: none; }
body #footer a:hover { text-decoration: underline; }
body button { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; font-size: 18px; line-height: 1.2em; padding: 0.3em 1em; border-width: 3px; background-color: #0466e2; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a8c3e7), color-stop(10%, #6092d3), color-stop(50%, #2f64a8), color-stop(50%, #2b5d9c), color-stop(100%, #3675c4)); background-image: -moz-linear-gradient(top, #a8c3e7 0%, #6092d3 10%, #2f64a8 50%, #2b5d9c 50%, #3675c4 100%); background-image: linear-gradient(top, #a8c3e7 0%, #6092d3 10%, #2f64a8 50%, #2b5d9c 50%, #3675c4 100%); border-color: #214878; text-shadow: #022d65 0px 1px 1px; -webkit-background-clip: padding-box; padding: 0.5em 1em; }
body button, body button:visited { color: white; }
body button:hover, body button:focus { background-color: #045fd3; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9cbbe4), color-stop(10%, #548ad0), color-stop(50%, #2b5d9c), color-stop(50%, #285690), color-stop(100%, #336eb8)); background-image: -moz-linear-gradient(top, #9cbbe4 0%, #548ad0 10%, #2b5d9c 50%, #285690 50%, #336eb8 100%); background-image: linear-gradient(top, #9cbbe4 0%, #548ad0 10%, #2b5d9c 50%, #285690 50%, #336eb8 100%); border-color: #1e406c; text-shadow: #012756 0px 1px 1px; }
body button:hover, body button:hover:visited, body button:focus, body button:focus:visited { color: white; }
body button:active { background-color: #0358c4; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2b5d9c), color-stop(30%, #2d62a4), color-stop(50%, #295894), color-stop(50%, #265188), color-stop(100%, #3470bc)); background-image: -moz-linear-gradient(top, #2b5d9c 0%, #2d62a4 30%, #295894 50%, #265188 50%, #3470bc 100%); background-image: linear-gradient(top, #2b5d9c 0%, #2d62a4 30%, #295894 50%, #265188 50%, #3470bc 100%); border-color: #1b3960; text-shadow: #012047 0px -1px -1px; }
body button:active, body button:active:visited { color: white; }
body input.placeholder { color: #a9a9a9; }
body sup { vertical-align: super; font-size: 0.8em; }
