#planning
  %form{:action => '/', :method => 'get'}
    .start
      .set
        = text_field :starting_address, '', :placeholder => 'Starting Address'
        = img 'spinner.gif'
    .addresses
      - 4.times do |i|
        .set>= partial 'address_field', :locals => {:index => i + 1}
    .buttons
      %button{:type => :submit} Plan My Route
      .spinner.hide
  
  #google_map.hide

:javascript
  window.route = new PlanMyRoute.Route($('planning'));
