$blue: #1d5091
$green:  adjust-hue(darken($blue, 2), -120)
$red:    adjust-hue($green, -95)
$orange: lighten(adjust-hue(saturate($blue, 20), -190), 3)
$purple: adjust-hue(desaturate($blue, 30), 50)
$yellow: adjust-hue(darken($blue, 9), -160)
$brown: darken(desaturate($orange, 35), 6)