input[type="text"]
  +border-radius(4px)
  @extend .sans-font
  font-size: 1em
  padding: 0.2em 0.5em
  border: 1px #d1d1d1 solid
  background: inline-image('input-bg.png') left top repeat-x #fff
  margin: 0

.input-error
  border-color: desaturate(lighten($red, 15), 10) !important
  background-color: lighten($red, 61) !important
  background-image: inline-image('input-bg-error.png')
  
  