$form-set-width: 460px

#planning
  form
    .set
      width: $form-set-width
      display: inline-block
      @extend .unselectable
      input[type="text"]
        width: $form-set-width * 0.75
      margin: 0.3em
      .action
        @extend .invisible
        @extend .pictos-font
        display: inline-block
        cursor: pointer
        font-size: 18px
        line-height: 1em
        margin: 0
        padding: 0
      .remove
        color: $red
      .make_first
        color: $blue
      .add
        color: $green
      &:hover
        .action
          @extend .visible
      &.first
        .action.make_first
          @extend .visible
          color: $yellow
          font-weight: bold
      &.error
        input[type="text"]
          @extend .input-error
    .start
      margin-bottom: 0.7em
      .set
        input
          font-size: 1.2em
        img
          display: none
          vertical-align: text-top
          margin-left: -2em
          height: 20px
          width: 20px
        &.busy
          img
            display: inline-block
    .buttons
      margin-top: 2em
      .spinner
        display: inline-block
        background: inline-image('spinner.gif') left top no-repeat #fff
        height: 32px
        width: 32px
        vertical-align: middle
        margin-left: 1em

#google_map
  width: 600px
  height: 400px