$form-set-width: 460px

#planning
  @extend .unselectable
  form
    .set
      width: $form-set-width
      display: inline-block
      input[type="text"]
        width: $form-set-width * 0.75
      margin: 0.3em
      .action
        @extend .invisible
        display: inline-block
        cursor: pointer
        height: 16px
        width: 17px
        margin: 0 1px -2px
        padding: 0
        background: inline-image('actions.png') left top no-repeat #fff
      .remove
        background-position: -51px center
      .make_first
        background-position: 0px center
      .add
        background-position: -34px center
      &:hover
        .action
          @extend .visible
      &.first
        .action.make_first
          @extend .visible
          background-position: -17px center
      &.error
        input[type="text"]
          @extend .input-error
    .start
      margin-bottom: 0.7em
      .set
        input
          font-size: 1.2em
        img
          display: none
          vertical-align: text-top
          margin-left: -2em
          height: 20px
          width: 20px
        &.busy
          img
            display: inline-block
    .buttons
      margin-top: 2em
      .spinner
        display: inline-block !important
        background: inline-image('spinner.gif') left top no-repeat #fff
        height: 32px
        width: 32px
        vertical-align: middle
        margin: 0 0.6em
        &.hide
          visibility: hidden
    .buttons, .actions
      display: inline-block
    .actions
      input, label
        vertical-align: middle

$map-pad: 5px
#google_map
  margin-top: 1em
  .wrapper
    padding: $map-pad - 1px
    border: solid 1px #999
    @extend .round-corners
    .map
      @extend .round-corners
      width: $main-width - $page-pad - (2 * $map-pad)
      height: 500px
  .driving_directions
    margin-top: 0.5em