$form-set-width: 460px

#planning
  form
    .set
      width: $form-set-width
      display: inline-block
      position: relative
      input[type="text"]
        width: $form-set-width * 0.75
      margin: 0.3em
      .action
        @extend .invisible
        @extend .pictos-font
        display: inline-block
        cursor: pointer
        font-size: 18px
        line-height: 1em
      .remove
        color: $red
        position: absolute
        top: -8px
        left: -10px
      .make_first
        color: $blue
      .add
        color: $green
      &:hover
        .action
          @extend .visible
      &.first
        .action.make_first
          @extend .visible
          color: $yellow
          font-weight: bold
    .start
      margin-bottom: 0.7em
      input
        font-size: 1.2em
    .buttons
      margin-top: 2em
      .spinner
        display: inline-block
        background: url('/images/spinner.gif') left top no-repeat #fff
        height: 32px
        width: 32px
        vertical-align: middle
        margin-left: 1em

#google_map
  width: 600px
  height: 400px