= text_field "address#{index}", '', :placeholder => "Address #{index}", :class => 'address'
.action.make_first{:title => 'Make this your first destination'} 1<sup>st</sup>
.action.remove{:title => 'Remove this address'} x
