= text_field "address#{index}", '', :placeholder => "Address #{index}", :class => 'address'
.action.make_first{:title => 'Make this your first destination'}>
.action.add{:title => 'Add another address'}>
.action.remove{:title => 'Remove this address'}>
